h1 {
    color: rgb(9, 105, 114);
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color:rgb(80, 89, 139);
    font-family: Arial, Helvetica, sans-serif;
    
}

h3 {
    color:rgb(94, 140, 238);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ul {
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    text-align: start;
   
}

body {
    background-color: rgb(185, 246, 244);
    
}

button {

    color: darkorange;
    width: 300px;
}